<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.hackerschool.warexemplo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="HackerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_hacker_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hackerapp">
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="Menu"
            android:exported="false"/>
        <activity
            android:name=".ColorActivity"
            android:label="Color thingy"
            android:exported="false"
            android:parentActivityName=".MenuActivity"/>

        <activity
            android:name=".InfoActivity"
            android:label="About you :)"
            android:exported="false"
            android:parentActivityName=".MenuActivity"/>
        <activity
            android:name=".ApiActivity"
            android:label="world knowledge remains here"
            android:exported="false"
            android:parentActivityName=".MenuActivity"/>
        <activity
            android:name=".MainActivity"
            android:label="what's up"
            android:exported="false"/>
    </application>

</manifest>